VITE_SUPABASE_URL=https://sxmdavslfhuednxrttwe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4bWRhdnNsZmh1ZWRueHJ0dHdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk3OTE3ODEsImV4cCI6MjA2NTM2Nzc4MX0.fz6ChKy-IKgCmVINJIcnDy4j0HckO0UObBd0W-uO2Zk